[A]

left=429
middle=321
right=214
stick_motion=norm
channel=0

[E]

left=429
middle=321
right=214
stick_motion=norm
channel=1

[T]

left=429
right=214
stick_motion=norm
channel=2

[R]

left=416
middle=321
right=214
stick_motion=norm
channel=3

[U]

gps=385
failsafe=285
selectable=245
channel=4

[X]

left=416
right=235
stick_motion=norm
channel=5

