[A]

left=416
middle=312
right=208
stick_motion=norm
channel=0

[E]

left=416
middle=312
right=208
stick_motion=norm
channel=1

[T]

left=418
right=207
stick_motion=norm
channel=2

[R]

left=417
middle=312
right=210
stick_motion=norm
channel=3

[U]

gps=385
failsafe=285
selectable=245
channel=4

